.about-me-container {
    padding: 20px;
}

.abt-text {
    font-size: 2vw;
}

@media (max-width: 768px) {
    .about-me-container h1 {
        font-size: 24px;
    }

    .about-me-container p {
        font-size: 18px;
    }
}

.about-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

body.dark-mode hr {
    color: #ffffff
}