@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


/* linear-gradient and dark-mode styling for background-gradient-light/dark, background, and transition
   referenced from ChatGPT (root, body, body.dark-mode). Rest of body, body.dark_mode was designed by me */
:root {
    --background-gradient-light: linear-gradient(135deg, #ffffff, #00bdc1);
    --background-gradient-dark: linear-gradient(135deg, #000428, #004e92);
}

body {
    background: var(--background-gradient-light);
    transition: background 0.5s ease;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body.dark-mode {
    background: var(--background-gradient-dark);
    background-repeat: no-repeat;
    transition: background 0.5s ease;
    background-attachment: fixed;
    background-size: cover;
}

.background-image-me {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Adds background image */
.background-overlay {
    position: absolute;
    background: url('../images/background.jpg') no-repeat center center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.75;
    z-index: 1;
}

.large-text {
    display: flex;
    position: relative;
    z-index: 2;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: rgb(0, 0, 0) !important;
    font-family: montserrat, sans-serif;
    font-size: 6vw !important;
}

.typed {
    color: rgb(239, 0, 0) !important;
    font-weight: 500;
    font-family: montserrat, sans-serif;
    font-size: 3vw !important;
}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

@media (max-width: 1000px) {
    .typed {
        font-size: 30px !important;
    }
}