@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);

h1, h3, p {
    font-family: montserrat, sans-serif;
    margin: 50px;
}

h1 {
    text-align: center;
}

.p-portfolio {
    font-size: 3vw;
}

@media (max-width: 768px) {
    h1 {
        font-size: 45px !important;
      }
    h3 {
        font-size: 25px !important;
    }
    h3, p {
        margin: 24px !important;
    }
}