@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap);

/* ChatGPT Suggested Method of Adding Left Border to Cards */
.skill-card {
    border-left: 4px solid !important;
  }

.skill-card-success {
    border-color: #28a745 !important;
}

.skill-card-primary {
    border-color: #007bff !important;
}

.skill-card-danger {
    border-color: #dc3545 !important;
}

.card-title {
    text-align: center;
}

.card-text {
    margin: 2px;
}

h2 {
    font-size: 4vw !important;
    text-align: center;
    width: auto;
    font-family: montserrat, sans-serif;
}

@media (max-width: 1250px) {
    h2 {
        font-size: 50px !important;
    }
}